@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: osvaldo;
    src: url(/Fonte/Oswald-VariableFont_wght.ttf);
}
body {
    margin: 0;
    background-color: #2d2933;
    background-image: url(/img/fundoCartas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#container {
    background-color: #481813;
    font-size: 30px;
    margin-top: 0px;
    padding: 3px;
    padding-left: 10px;
    font-weight: bold;
    font-family: osvaldo;
    color: white;
}
#truco{
    margin-left: 100px;
    margin-top: 50px;
}
#cacheta{
    margin-top: 50px;
}
section{
    display: inline-block;
}
a{
    text-decoration: none;
}