@charset "utf-8";
@font-face {
    font-family: osvaldo;
    src: url(/Fonte/Oswald-VariableFont_wght.ttf);
}
a{
    text-decoration: none;
}
#container {
    background-color: #481813;
    font-size: 30px;
    margin-top: 0px;
    padding: 3px;
    padding-left: 10px;
    font-weight: bold;
    font-family: osvaldo;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
}
section{
    background-color: #2d2933be;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 30px;
}
.titulo{
    font-size: 60px;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    word-spacing: 5px;
}
#traco {
    background-color: #481813;
    width: 100%;
    height: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
ol{
    color: white;
}
ul{
    color: white;
}