<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/estiloConteudoGeral.css" rel="stylesheet" type="text/css">
        <link href="/css/estiloCacheta.css" rel="stylesheet" type="text/css">
        <title>La Fonte de Cachaça</title>
    </head>
    <body>
        <header>
            <a href="home.html"><h1 id="container">LA FONTE DE CACHAÇA</h1></a>
        </header>
        <h1 class="titulo">Cacheta</h1>
        <section>
            <p>Cada participante deve receber nove cartas e o carteador deve distribuí-las no sentido anti-horário. O objetivo é eliminar todos os oponentes e ser o único a ficar na mesa.</p>
        </section>
        <hr id="traco">
        <h1>Regras:</h1>
        <section>
            <ol>
                <li>A Cacheta é jogada de dois a cinco participantes.</li>
                <li>O jogo é jogado de forma individual.</li>
                <li>Todos iniciam a partida com sete ou dez pontos (ou vidas).</li>
                <li>Quando alguém bate, os demais perdem um ponto. Um jogador sai do jogo quando chega a pontuação zero.</li>
                <li>Se um jogador bater com 10 cartas, os demais perdem dois pontos ao invés de um.</li>
                <li>Para bater com 10 cartas, uma das trincas ou sequências deve ter uma quarta carta, chamada de ponta.</li>
            </ol>
        </section>   
        <h1>Vocabulário utilizado na Cacheta:</h1>
        <section>
            <ul>
                <li>Trinca: três cartas de mesmo valor e naipes diferentes, sendo que todos podem agregar uma quarta ou quinta carta do mesmo valor, desde que sejam de um dos naipes da trinca.</li>
                <li>Sequência: três ou mais cartas do mesmo naipe em sequência de valores.</li>
                <li>Vira: carta do monte de compra que será virada para determinar o coringa, que será sempre a carta acima da que foi virada, da mesma cor.</li>
                <li>Curinga: carta que pode substituir qualquer outra em uma sequência ou trinca. Só pode usar um por jogo.</li>
                <li>Bater: combinar e baixar as nove ou as dez cartas da mão, formando trincas e/ou sequências.</li>
                <li>Monte: pilha de cartas de sobra.</li>
                <li>Lixeira: cartas descartadas pelos jogadores.</li>
                <li>Furar a fila: comprar da lixeira fora da sua vez com o objetivo de bater. Isso pode ser feito apenas se você anunciar que está "na boa".</li>
            </ul>
        </section>
    </body>
</html>