<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La Fonte de Cachaça</title>
        <link href="/css/estiloConteudoGeral.css" rel="stylesheet" type="text/css">
        <link href="/css/estiloPebolim.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <a href="/views/home.html"><h1 id="container">LA FONTE DE CACHAÇA</h1></a>
        </header>
        <h1 class="titulo">Pebolim</h1>
        <section>
            <p>Jogo também chamado Pacau, Fla-Flu, Bonequinho ou pimbolim, foi inventado há 80 anos por um poeta anarquista. Em novembro de 1936, poucos meses após o início da Guerra Civil Espanhola, uma bomba caiu sobre a casa do jovem Alejandro Campos Ramírez em Madri, deixando-o preso nos escombros. Ele ficou gravemente ferido e foi levado para um hospital na cidade de Montserrat, em Valência. Lá ele viu chegando refugiados da guerra, mulheres e muitas crianças feridas. Assim como ele, muitas crianças não puderam mais jogar bola. Foi então que Alejandro começou a desenvolver a ideia do jogo, que anos depois deu a volta ao mundo. Ao Brasil, o esporte chegou na década de 1950, provavelmente trazido por imigrantes espanhóis.</p>
        </section>
        <hr id="traco">
        <h1>Regras:</h1>
        <section>
            <ol>
                <li>Duas equipes (de uma ou duas pessoas cada</li>
                <li>O jogo inicia com a bola no meio da mesa</li>
                <li>As partidas terminam quando uma dupla marcar 7 (sete) gols.</li>
                <li>Decisão no par ou ímpar para local da mesa</li>
                <li>Quando travar a bola, reiniciar no meio da mesa novamente</li>
                <li>Não poderá girar o boneco 360 GRAUS durante o jogo.</li>
                <li>Caso ocorra algum gol com giro de 360 GRAUS, o gol não valerá.</li>
            </ol>
        </section>
    </body>
</html>