<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La Fonte de Cachaça</title>
        <link href="/css/estiloSinuca.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header><a href="/views/home.html"><h1 id="container">LA FONTE DE CACHAÇA</h1></a></header>
        <h1 class="titulo">Sinuca</h1>
        <section>
            <p>A sinuca tem origem na Grã-Bretanha, em 1875. Até então o bilhar era jogado com apenas três bolas, desde os séculos XVI e XVII. O termo sinuca, é uma adaptação moderna do inglês snooker, nome com que a modalidade do jogo foi introduzida no Brasil a partir de 1889. Quando a “snooker” finalmente aportou no Brasil, no século 20, não demorou para ganhar aquele jeitinho brasileiro.</p>
        </section>
        <br><br>  <div id="traco"></div> <br><br>
        <h1>Regras:</h1>
        <section>
            <ol>
                <li><p>As partidas conterão dois ou mais jogadores, que usarão uma bola branca (“tacadeira”) e sete coloridas e a bola preta(8);</p>
                <li><p>Quando um jogador derrubar a primeira bola fica decidido que o jogador ou a dupla terá que derrubar todas as bolas menores (1-7), se ela derrubar uma bola nesse intervalo, ou as maiores (9-15), se derrubar uma bola nesse intervalo. A outra equipe deverá ficar com as outras bolas;</p>
                <li><p>Após uma dupla derrubar todas as suas bolas, a BOLA 8 virá ao jogo, sendo que, a dupla que derrubar todas as bolas e depois a bola 8, será a vencedora. Se uma equipe derrubar a BOLA 8 sem ter derrubado todas suas bolas, perderá a partida;</p>
                <li><p>A dupla que não acertar nenhuma bola após uma tacada, dá direito ao adversário derrubar uma bola sua (a menor dentre as que ainda estão no jogo);</p>
                <li><p>Se após uma tacada, acertar a bola do adversário diretamente, ou a bola branca sair da mesa, vale a mesma regra do artigo anterior;</p>
            </ol>
        </section>
        <br><br><br><br><br><br><br>
    </body>
</html>