<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!--CSS projeto-->
    <link href="../css/estiloConteudoGeral.css" rel="stylesheet" type="text/css">
    <link href="../css/estiloNav.css" rel="stylesheet" type="text/css">
    <!-- Google fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet" />
    <!-- JavaScript Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Fonte de Cachaça</title>
   </head>
<body>
   <nav class="navbar navbar-expand-lg fixed-top bg-primary-color border border-5" id="navbar">
      <div class="container py-3">
          <a class="navbar-brand" href="../home.html">
              <img src="../img/logo.png" alt="La Fonte de Cachaça" />
              <span>La Fonte de Cachaça</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
              aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
              <i class="bi bi-list"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbar-items">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="../home.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../views/bebidas.html">Bebidas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Receitas</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Mais
                      </a>
                      <ul class="dropdown-menu curva">
                          <li><a class="dropdown-item" href="#">Equipe</a></li>
                          <li><a class="dropdown-item" href="#">Localização</a></li>
                          <li><a class="dropdown-item" href="#">Fale Conosco</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
   <h1 class="titulo espaco">Truco</h1>
   <section>
      <p>Não se sabe ao certo qual a versão correta do jogo truco originou-se, porém, sabe-se que sua primeira versão foi muito popular na Inglaterra no século XVII.No entanto, as versões populares latino-americanas foram adaptadas às versões francesa e espanhola. O jogo foi trazido ao Brasil pelos jesuítas europeus. Na época, o jogo era mais famoso entre os bandeirantes.</p>
   </section>
   <hr id="traco">
   <h1>Regras:</h1>
   <section>
      <ol class="texto">
         <li>É jogado com 4 jogadores, divididos em duas duplas, e uma joga contra a outra.</li>
         <li>O Truco é disputado em três rodadas (“melhor de três”), para ver quem tem as cartas mais “fortes” (de valor simbólico mais alto).</li>
         <li>Sequência da maior para a menor: 3 2 A K J Q 7 6 5 4 (de todos os naipes: Dentre elas, a ordem de “força” obedece o naipe, da seguinte maneira (do maior para o menor):
         Paus > Copas > Espadas > Ouros).</li>
         <img src="../img/naipesTruco.png" alt="" width="500">
         <li>Definições</li>
         <ul>
            <li>Vira - É a carta que o embaralhador vira quando distribui as cartas. É a carta que definirá as 4 manilhas.</li>
            <li>Manilhas - São as cartas mais fortes do jogo, mais fortes do que o 3.</li>
            <li>Rodada - Fração da mão. Em cada rodada, os jogadores mostram uma carta. A carta mais forte ganha a rodada.</li>
            <li>Mão - Fração da partida, vale 1 ponto e poderá ter seu valor aumentado para 3, 6, 9 e 12 pontos. É disputada em melhor de 3 rodadas.</li>
            <li>Partida - Jogo valendo 12 pontos, conseguidos através das “mãos”.</li>
            <li>Truco - É um pedido de “aumento de aposta” que só pode ser feito na vez de cada jogador. Se nenhum jogador fizer o pedido, a partida valerá 1 ponto. Se o Truco for pedido e o adversário aceitar, a partida passa a valer 3 pontos. Se o adversário não aceitar, o jogador que fez o pedido ganha um ponto.</li>
            <li>Seis - É um pedido de “aumento da aposta” que pode ser feito quando um jogador é desafiado com o pedido de Truco. Neste caso, a partida que inicialmente valia um ponto e foi trucada, passando a valer 3, passará a valer 6, caso o adversário aceite. Se o adversário não aceitar o pedido, o desafiador ganha 3 pontos.</li>
            <li>Nove - É um pedido de “aumento de aposta” que pode ser feito quando um jogador é desafiado com o pedido de “Seis”. Neste caso, a partida que estava valendo 6, passará a valer 9 com esse pedido, caso o adversário aceite. Se o adversário não aceitar o pedido, o desafiador ganha 6 pontos.</li>
            <li>Doze - É um pedido de "aumento de aposta" que pode ser feito quando um jogador é desafiado com o pedido de "Seis". Neste caso, a partida que estava valendo 6, passará a valer 9 com esse pedido, caso o adversário aceitei. Se o adversário não aceitar o pedido, o desafiador ganha 9 pontos.</li>
            <li>Mão de Onze - A dupla que consegue chegar a 11 pontos na partida, tem o direito de olhar as cartas um do outro e analisar se irão ou não aceitar a partida. Caso a dupla aceite, a Mão de Onze já começa valendo 3 pontos. Se acharem que não será possível vencer a mão com tais cartas, podem optar por “Correr”, dando apenas 1 ponto à dupla adversária.</li>
            <li>Mão de Ferro - É a Mão de Onze especial, quando as duas duplas conseguem chegar a 11 pontos na partida. Todos os jogadores recebem as cartas "cobertas", isto é, viradas para baixo, e deverão jogar assim. Quem vencer a mão, vence a partida</li>
            <li>Esconder Carta - É quando um jogador joga a carta virada para a mesa, passando assim a não valer nada. Também chamado de “carta coberta” ou “carta encoberta”. Não é permitido esconder a carta na primeira rodada de cada mão.</li>
         </ul>
         <li>Para jogar uma mão, cada jogador recebe 3 cartas. No final da distribuição das cartas, vira-se uma carta do baralho para cima (a “vira”), definindo-se as Manilhas.</li>
         <li>Em cada rodada, um jogador deve colocar uma de suas cartas na mesa, e o jogador com a carta mais forte vence a rodada. Quem ganhar 2 dessas rodadas ganha a mão e marca 1 ponto, e uma nova mão se inicia.</li>
      </ol>
   </section>
</body>
</html>